<script type="text/javascript">
    RED.nodes.registerType('get block children',{
        category: 'Notion',
        color: '#e8deee',
        icon: 'logo.svg',
        defaults: {
            integration: {value:"", type:"notion integration"}
        },
        inputs: 1,
        outputs: 1,
        label: function() {
            return this.name||"get block children";
        }
    });
</script>

<script type="text/html" data-template-name="get block children">
    <div class="form-row">
        <label for="node-input-integration"><i class="fa fa-tag"></i> Integration</label>
        <input type="text" id="node-input-integration">
    </div>
</script>

<script type="text/html" data-help-name="get block children">
    <p>Fetches immediate children blocks of a parent block.</p>
    <h2>Inputs</h2>
    <pre>
msg.blockId // Notion block UUID
    </pre>
    <h2>API Reference</h2>
    <a href="https://developers.notion.com/reference/get-block-children">Retrieve block children</a>
</script>