<script type="text/javascript">
    RED.nodes.registerType('get page',{
        category: 'Notion',
        color: '#e8deee',
        icon: 'logo.svg',
        defaults: {
            integration: {value:"", type:"notion integration"}
        },
        inputs: 1,
        outputs: 1,
        label: function() {
            return this.name||"get page";
        }
    });
</script>

<script type="text/html" data-template-name="get page">
    <div class="form-row">
        <label for="node-input-integration"><i class="fa fa-tag"></i> Integration</label>
        <input type="text" id="node-input-integration">
    </div>
</script>

<script type="text/html" data-help-name="get page">
    <p>Fetches a Notion page by page ID.</p>
    <h2>Inputs</h2>
    <pre>
msg.pageId // Notion page UUID
    </pre>
    <h2>API Reference</h2>
    <a href="https://developers.notion.com/reference/retrieve-a-page">Retrieve a page</a>
</script>